*{
    background-color: rgb(32, 34, 34); 
}
#google-search-img {
    width: 20%;
    min-height: 9%;
    position: absolute;
    margin-top: -15px;    
}
div, #text-area{
    display: flex;
    justify-content: center;
}

#text-area {
    width: 580px;
    height: 45px;
    border-radius: 30px;
    position: absolute;
    margin-top: 215px;
    border:solid grey 0.01px;
    color: azure;
    font-size: medium;      
}
.flask{
    width: 25px;
    height: 25px;
    margin-top:20px ;
    display: flex;
    margin-left: 1250px;  
    
}
.padd_{
     padding-left: 20px;
     padding-right: 10px;
}